.loader-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.loader-wrapper p {
    color: white;
    font-size: 18px;
    text-align: center;
}